@import '../../../../../../libs/shared/src/styles/mixins';

.Hero {
  display: flex;
  flex-direction: column;
  gap: var(--g5);
  // height: 70rem;
  padding: var(--g4) 0;

  @include isTabletBig {
    flex-direction: row;
    padding: var(--g6) 0;

    & > * {
     width: 50%; 
    }
  }

  &Images {
    position: relative;
    margin-bottom: -200px;


    img {
      width: 70%;
      border-radius: 8px;
    }
  
    img:nth-child(2) {
      transform: translate(30%, -100px);
    }
  
    img:nth-child(3) {
      transform: translate(10%, -200px);
    }

    @include isTabletBig {
      order: 1;
    }
  }

  &Content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    &Text {
      margin-bottom: var(--g4);
    }

    @include isTabletBig {
      order: 2;
    }
  }
}