:root {
  --radius-sm: 4px;
  --radius-m: 8px;
  
  --g-1: 2px;
  --g-2: 4px;
  --g-3: 8px;
  --g-4: 16px;
  --g-5: 32px;
  --g-6: 64px;

  --fs-xl: 40px;
  --fs-l: 32px;
  --fs-m: 24px;
  --fs-s: 20px;
  --fs-xs: 16px;
  --fs-xxs: 14px;
  --fs-xxxs: 12px;

  --ls-xl: 64px;
  --ls-l: 48px;
  --ls-m: 36px;
  --ls-s: 32px;
  --ls-xs: 24px;
}