

$themes: (
  "text-light": #fcfefe,
  "text-dark": #091319,
  "dark": (
    "primary":#cb79f1,
    "text": #fcfefe,
    "bg": #0f191f,
  ),
  "light": (
    "primary":#1872ae,
    "text": #091319,
    "bg": #f6f8f8,
  )
);

:root {
  --color-text-light: #f6f8f8;
  --color-text-dark: #0f191f;
}

@each $themeName, $theme in $themes {
  @if type-of($theme) =='map' {
    [data-theme="#{$themeName}"] {
      @each $colorName, $colorValue in $theme {
        --color-#{$colorName}: #{$colorValue};
        --color-#{$colorName}-t-1: #{mix(white, $colorValue, 10%)};
        --color-#{$colorName}-t-2: #{mix(white, $colorValue, 20%)};
        --color-#{$colorName}-s-1: #{mix(black, $colorValue, 10%)};
        --color-#{$colorName}-s-2: #{mix(black, $colorValue, 20%)};
      }
    }
  } @else {
    :root {
      --color-#{$themeName}: #{$theme};
      --color-#{$themeName}-t-1: #{mix(white, $theme, 10%)};
      --color-#{$themeName}-t-2: #{mix(white, $theme, 20%)};
      --color-#{$themeName}-s-1: #{mix(black, $theme, 10%)};
      --color-#{$themeName}-s-2: #{mix(black, $theme, 20%)};
    }
  }
}
