.Headline {
  margin: 0;
}

.Headlinexl {
  font-size: var(--fs-xl);
  line-height: var(--lh-xl);
}

.Headlinel {
  font-size: var(--fs-l);
  line-height: var(--fh-l);
}

.Headlinem {
  font-size: var(--fs-m);
  line-height: var(--fh-m);
}

.Headlines {
  font-size: var(--fs-s);
  line-height: var(--fh-s);
}

.Headlinexs {
  font-size: var(--fs-xs);
  line-height: var(--fh-xs);
}

.Headlinexxs {
  font-size: var(--fs-xxs);
  line-height: var(--fh-xs);
}

.Headlinexxxs {
  font-size: var(--fs-xxxs);
  line-height: var(--fh-xs);
}