.LayoutInner {
  max-width: calc(75ch + var(--g-5));
  margin: 0 auto;
  padding: 0 var(--g-4) var(--g-4) var(--g-4);
}

.LayoutHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--g-4) 0;
}
