@import "styles/colors.scss";
@import "styles/sizes.scss";
@import "styles/media-queries.scss";

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

a {
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
}

