:root {
  font-size: 62.5%;

  --radius-sm: 4px;
  --radius-m: 8px;
  --g-1: 2px;
  --g-2: 4px;
  --g-3: 8px;
  --g-4: 16px;
  --g-5: 32px;
  --g-6: 64px;

  --color-text-light: #F7F9F9;
  --color-text-dark: #0F1A20;
}

[data-theme="dark"] {
  --color-main-text: #F7F9F9;
  --color-bg: #0F1A20;
  --color-bg-sup: #25343c;
  --color-primary: #cb78f1;
}

[data-theme="light"] {
  --color-main-text: #0F1A20;
  --color-bg: #F7F9F9;
  --color-bg-sup: #cbcece;
  --color-primary: #2081C3;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-main-text);
  background-color: var(--color-bg);
}

a {
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
}

