@import "/libs/blog-js-design-system/src/index.scss";

:root {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-xs);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

a {
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
}

