.PostHero {
  position: relative;
  overflow: hidden;
  margin: 0 0 var(--g-6) calc(-1 * var(--g-6));
  width: calc(100% + var(--g-6));
  padding: var(--g-6) var(--g-5);
  color: var(--color-text-s-2);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--g-4);
  width: 100%;
  height: 100%;


  &Title {
    color: var(--color-text);
  }

  &Footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
