@import '../../../../../../../libs/shared/src/styles/mixins';

.Edit {
  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--g3);
    padding-left: var(--g4);

    @include isTablet {
      padding-left: var(--g5);
    }

    &Title {
      display: flex;
      align-items: center;
      gap: var(--g2);  

      h2 {
        margin-top: -8px;
      }
    }

    &GenerateBtn {
      width: 200px;
    }
  }
}
