.Tag {
  font-size: var(--fs-xxxs);
  padding: var(--g-1) var(--g-2);
  border-radius: var(--radius-sm);
  color: var(--color-text-light);
  background-color: var(--color-primary);
  text-decoration: none;
}
